body {
    background-color: sandybrown;
    display: flex;
    justify-content: center;
    
}



.the-game {
    display: none;
}


.reset-button {
    display: none;
    cursor: pointer;
    border: 2px darkgray solid;
    margin-top: 10%;
    text-align: center;
}


.sten  {
    background: none;
    border: none;
    font-size: 150px;
    margin: 30px;
}


.sax {
    background: none;
    border: none; 
    font-size: 150px;
    margin: 30px;
}

.pase {
    background: none; 
    border: none; 
    font-size: 150px;
    margin: 30px;
}


.my-points {
    font-weight: bold;
    font-size: xx-large;
}

.comp-points {
    font-weight: bold;
    font-size: large;
}

.score {
    margin-top: 3%;
    font-size: xx-large;
    color: black;
}




.top5 {
    color: blue;
    margin-top: 30px;
}
